.delete-button {
    color: #ff0000;
    text-decoration:none;
}

.edit-button {
    color: #008507;
    text-decoration:none;
}

.input{
    background-color:#ffffff00;
    display:inside;
    border:none;
    width:100%
}
