html {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
  background-color: #F5F3EC;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

img {
  width: 355px;
  height: 419px;
  object-fit: cover;
}

/* Colors */
.colour1,.hover-colour1:hover{
  color:#B98684!important;
  background-color:#D4BDB4!important
}

.colour2,.hover-colour2:hover{
  color:#B98684!important;
  background-color:#E7DFDD !important
}

.colour3,.hover-colour3:hover{
  color:#E7DFDD!important;
  background-color:#B98684 !important
}

.colour4,.hover-colour4:hover{
  color:#B98684!important;
  background-color:#F5F3EC !important
}

.colour5,.hover-colour5:hover{
  color:#B98684!important;
  background-color:#E6D9D0 !important
}

.gallery-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
}

.grid-container {
  display: grid;
}

.responsive {
  width: 100%;
  height: 355;
  max-height: 418px;
  min-height: 400px;
  display: block;
}

.delete-button {
    background-color:#ffffff00;
    color: #e06666;
    display:inside;
    cursor: pointer;
    text-decoration:none;
    border:none;
}

.padding {
  padding: 8px 16px;
}

/* W3 Schools Styles */
.w3-round-xlarge{
  border-radius:16px
}

/* Button */
.w3-ckp-button:hover{
  color:#B98684!important;
  background-color:#D4BDB4!important;
  border-radius:16px
}

.w3-ckp-bar .w3-button{
  white-space:normal;
  border-radius:16px;
}

.w3-ckp-dropdown-hover:hover > .w3-ckp-button:first-child,.w3-ckp-dropdown-click:hover > .w3-ckp-button:first-child{
  background-color:#ccc;
  color:#000;
  border-radius:16px
}

.w3-ckp-btn,.w3-ckp-button{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border-radius:16px
}   
.w3-ckp-disabled,.w3-ckp-btn:disabled,.w3-ckp-button:disabled{
  cursor:not-allowed;
  opacity:0.3;
}
.w3-ckp-disabled *,:disabled *{
  pointer-events:none
}

.w3-ckp-btn,.w3-ckp-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  border-radius:16px
}

.w3-input{
  color:#B98684!important;
  background-color:#F5F3EC!important;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  border-radius:16px
}

.w3-select{
  padding:9px 0;
  width:100%;
  border:none;
  border-bottom:1px solid #ccc;
  border-radius:16px
}

.w3-ckp-table,.w3-ckp-table-all{
  border-collapse:collapse;
  width:100%;
  display:table;
  border-radius:16px
}

.w3-ckp-table-all{
  border:1px solid #ccc
}
.w3-ckp-bordered tr,.w3-table-all tr{
  border-bottom:1px solid #B98684
}

.w3-ckp-striped tbody tr:nth-child(even){
  background-color:#F5F3EC
}
.w3-ckp-table-all tr:nth-child(odd){
  background-color:#F5F3EC
}

.w3-ckp-table-all tr:nth-child(even){
  background-color:#F5F3EC

}
.w3-ckp-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{
  background-color:#F5F3EC
}

.w3-ckp-centered tr th,.w3-ckp-centered tr td{
  text-align:center
}

.w3-ckp-table td,.w3-ckp-table th,.w3-ckp-table-all td,.w3-ckp-table-all th{
  padding:8px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top
}

.w3-ckp-table th:first-child,.w3-ckp-table td:first-child,.w3-ckp-table-all th:first-child,.w3-ckp-table-all td:first-child{
  padding-left:16px
}
