{% extends "base.html" %}
{% block body %}
<form action="{{ url_for('addouterwear') }}" method="POST">

  <label> Outerwear name</label>
  <input name="name" type="text" placeholder=" "><br>
  
  <label>Brand </label>
  <select name="brand" type="number">
    <option value=""> </option>
    <option value=1>Levi's</option>
    <option value=2>Brandy Melville</option>
    <option value=3>Cotton On</option>
    <option value=4>Glassons</option>
  </select><br>
  <!-- <label>Brand </label> -->
  <!-- <input name="brand" type="number" placeholder=" "><br> -->

  <label>Colour </label>
  <select name="colour" type="number">
    <option value=""> </option>
    <option value=1>White</option>
    <option value=2>Black</option>
    <option value=3>Brown</option>
    <option value=4>Green</option>
  </select><br>
  <!-- <label> Colour </label> -->
  <!-- <input name="colour" type="number" placeholder=" "><br>-->

  <label>Garment </label>
  <select name="garment" type="number">
    <option value=""> </option>
    <option value=1>Pants</option>
    <option value=2>Shorts</option>
    <option value=3>Skirt</option>
    <option value=4>T Shirt</option>
  </select><br>
  <!-- <label> Garment </label> -->
  <!-- <input name="garment" type="number" placeholder=" "><br> -->
  
  <input type="submit" value="Add Outerwear"><br>
</form>
{% endblock %}s