<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Wardrobe Wizard</title>
</head>
<body>
    
    <div class = "w3-container">
        <h1>Wardrobe Wizard</h1>
    <!--NAVIGATION BAR-->
        <div class="w3-bar w3-light-grey">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/tops" class="w3-bar-item w3-button">Tops</a>
            <a href="/bottoms" class="w3-bar-item w3-button">Bottoms</a>
            <a href="/outerwear" class="w3-bar-item w3-button">Outerwear</a>
            <a href="/dresses" class="w3-bar-item w3-button">Dresses</a>
            <a href="/outfits" class="w3-bar-item w3-button">Outfits</a>
            <a href="/brands" class="w3-bar-item w3-button">Brands</a>
            <a href="/colours" class="w3-bar-item w3-button">Colours</a>
            <a href="/garments" class="w3-bar-item w3-button">Garments</a>
            <a href="/styles" class="w3-bar-item w3-button">Styles</a>
        </div>
      {% block body %}
      {% endblock %}
    </div>
</body>
</html>