<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    
    <div class = "w3-container">
    {% block body %}
    <!--NAVIGATION BAR-->
        <div class="w3-bar w3-light-grey">
            <a href="#" class="w3-bar-item w3-button">Home</a>
            <a href="#" class="w3-bar-item w3-button">View</a>
            <a href="#" class="w3-bar-item w3-button">Add</a>
            <a href="#" class="w3-bar-item w3-button">Remove</a>
      </div>
    {% endblock %}
    </div>
</body>
</html>