<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/w3.css">
    <link rel="stylesheet" href="/static/charlottestyles.css">
    <title>Wardrobe Wizard</title>
</head>
<body>
    <div class = "w3-container colour4">
        <h1>Wardrobe Wizard</h1>
    <!--NAVIGATION BAR-->
        <div class="w3-bar colour5">
            <a href="/" class="w3-bar-item w3-ckp-button">Home</a>
            <a href="/clothing" class="w3-bar-item w3-ckp-button">All Clothing</a>
            <a href="/outfits" class="w3-bar-item w3-ckp-button">Outfits</a>
            <a href="/brands" class="w3-bar-item w3-ckp-button">Brands</a>
            <a href="/types" class="w3-bar-item w3-ckp-button">Clothing Types</a>
            <a href="/colours" class="w3-bar-item w3-ckp-button">Colours</a>
        </div>
      {% block body %}
      {% endblock %}
    </div>
</body>
</html>