{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <br>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:20%">
        <form class="w3-container" action="{{ url_for('bottoms') }}" method="POST">
          <h2>Add a Bottom</h2>
          <!-- <p>Add the infomation to create bordered inputs.</p> -->
        
          <label> Bottom name</label>
          <input name="name" type="text" maxlength="25" placeholder=" " class="w3-input w3-border" required><br>
          
          <label>Brand </label>
          <select name="brand" type="number" class="w3-input w3-border" required>
            <option value=""> </option>
            {% for item in resultsbrandsbottoms %}
            <option value={{item[0]}}>{{item[1]}}</option>
            <!-- <option value=2>Brandy Melville</option>
            <option value=3>Cotton On</option>
            <option value=4>Glassons</option> -->
            {% endfor %}
          </select><br>
          <!-- <label>Brand </label> -->
          <!-- <input name="brand" type="number" placeholder=" "><br> -->
        
          <label>Colour </label>
          <select name="colour" type="number" class="w3-input w3-border" required>
            <option value=""> </option>
            {% for items in resultscoloursbottoms %}
            <option value={{items[0]}}>{{items[1]}}</option>
            <!--<option value=2>Black</option>
            <option value=3>Brown</option>
            <option value=4>Green</option>-->
            {% endfor %}
          </select><br>
          <!-- <label> Colour </label> -->
          <!-- <input name="colour" type="number" placeholder=" "><br>-->
        
          <label>Garment </label>
          <select name="garment" type="number" class="w3-input w3-border" required>
            <option value=""> </option>
            {% for itemss in resultsgarmentsbottoms %}
            <option value={{itemss[0]}}>{{itemss[1]}}</option>
            <!--<option value=2>Shorts</option>
            <option value=3>Skirt</option>
            <option value=4>T Shirt</option>-->
            {% endfor %}
          </select>
          <!-- <label> Garment </label> -->
          <!-- <input name="garment" type="number" placeholder=" "><br> -->

          <p><input button type="submit" value="Add bottom" class="w3-button w3-white w3-border"></p>
        </form>
    </div>
   <div class="w3-container">
    </div>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:80%">
        <br>
        <table class="w3-table-all">
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Colour</th>
                <th>Garment</th>
            </tr>
            {% for item in results1 %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>
  </div>
  <br>
{% endblock %}