{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <br>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:20%">
        <form class="w3-container" action="{{ url_for('brands') }}" method="POST">
          <h2>Add a Brand</h2>
          <label> Brand name</label>
          <input name="brand_name" type="text" maxlength="25" placeholder=" " class="w3-input w3-border" required>
          <p><input button type="submit" value="Add Brand" class="w3-button w3-white w3-border"></p>
        </form>
    </div>
   <div class="w3-container">
    </div>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:80%">
        <br>
        <table class="w3-table-all">
            <tr>
                <th>Brand Name</th>
                <th>  </th>
                <!--<th>  </th>-->
            </tr>
            {% for item in resultsbrands %}
            <tr>
                <td>{{ item[1] }}</td>
                <!--<td class="w3-right-align"><a href='/brands' title="Edit" class="edit-button">&#9998;</a></td>-->
                <td class="w3-right-align">
                  <form method="POST" action="{{ url_for('delete_brand', ID=item[0]) }}">
                    <input type="submit" title="Delete" class="input delete-button" value="&#10006;" onclick="return confirm('Are you sure you want to delete this Brand?')">
                  </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>
  </div>
  <br>
{% endblock %}