{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <br>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:20%">
        <form class="w3-container" action="{{ url_for('addbrand') }}" method="POST">
          <h2>Add a Brand</h2>
          <label> Brand name</label>
          <input name="brand_name" type="text" maxlength="25" placeholder=" " class="w3-input w3-border" required>
          <p><input button type="submit" value="Add Brand" class="w3-button w3-white w3-border"></p>
        </form>
    </div>
    <div class="w3-container"></div>

    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:80%">
        <br>
    <table class="w3-table-all">
    <tr>
        <th>Brand Name</th>
    </tr>
    {% for item in brands_results %}
    <tr>
        <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<br>
</div>
</div>
{% endblock %}