{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <div class="w3-panel w3-round-xlarge colour5 w3-cell w3-card-4" style="width:20%">
    <form class="w3-panel" action="{{ url_for('addclothing') }}" method="POST" enctype="multipart/form-data">
      <h2>Add Clothing</h2>
    
      <label> Clothing name</label>
      <input name="name" type="text" maxlength="25" placeholder=" " class="w3-input w3-border" required><br>
      
      <label>Brand </label>
      <select name="brand" type="number" class="w3-input w3-border" required>
        <option value=""> </option>
        {% for item in resultsbrandsc %}
        <option value={{item[0]}}>{{item[1]}}</option>
        {% endfor %}
      </select><br>

      <label>Type </label>
      <select name="type" type="number" class="w3-input w3-border" required>
        <option value=""> </option>
        {% for items in resultstypec %}
        <option value={{items[0]}}>{{items[1]}}</option>
        {% endfor %}
      </select><br>
    
      <label>Colour </label>
      <select name="colour" type="number" class="w3-input w3-border" required>
        <option value=""> </option>
        {% for itemss in resultscoloursc %}
        <option value={{itemss[0]}}>{{itemss[1]}}</option>
        {% endfor %}
      </select><br>

      <label for="img_file">Image </label>
      <input type="file" name="file" accept=".jpeg,.jpg" class="colour4 w3-input w3-border"/>

      <p><input button type="submit" value="Add Clothing" class="w3-ckp-button w3-round-xlarge colour4 w3-border"></p>
    </form>
  </div>

  <div class="w3-container"></div>

  <div class="w3-panel colour5 w3-round-xlarge w3-cell w3-card-4" style="width:80%"><br>
    <div class="w3-row-padding">
      {% for item in results %}
      <div class="w3-third">

        <div class="gallery-wrap w3-card-4 w3-round-xlarge colour4">
          <img src="/static/images/{{item[5]}}" alt=lol class="gallery-wrap w3-round-xlarge" onError="this.onerror=null;this.src='/static/images/noimage_lol.jpg';">
          <div class="padding">
            <h3>{{ item[1] }}</h3>
            <p>Brand: {{ item[2] }}<br>Type: {{ item[3] }}<br>Colour: {{ item[4] }}</p>
          </div>
          <div class="w3-right-align">
            <form method="POST" action="{{ url_for('deleteclothing', ID=item[0]) }}">
              <input type="submit" title="Delete" class="delete-button padding" value="&#10008;" onclick="return confirm('Are you sure you want to delete this Item?')">
            </form>
          </div>
        </div>

        <br>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
<br>
{% endblock %}