{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <div class="w3-panel w3-round-xlarge colour5 w3-cell w3-card-4" style="width:30%">
    <form action="{{ url_for('addclothing') }}" method="POST" enctype="multipart/form-data">
      <h2 class="heading-padding">Add Clothing</h2>
    
      <label> Clothing name</label>
      <input name="name" type="text" maxlength="25" placeholder=" " class="w3-input w3-border" required><br>
      
      <label>Brand </label>
      <select name="brand" type="number" class="w3-input w3-border" required>
        <option value=""> </option>
        {% for item in resultsbrandsc %}
        <option value={{item[0]}}>{{item[1]}}</option>
        {% endfor %}
      </select><br>

      <label>Type </label>
      <select name="type" type="number" class="w3-input w3-border" required>
        <option value=""> </option>
        {% for items in resultstypec %}
        <option value={{items[0]}}>{{items[1]}}</option>
        {% endfor %}
      </select><br>
    
      <label>Colour </label>
      <select name="colour" type="number" class="w3-input w3-border" required>
        <option value=""> </option>
        {% for itemss in resultscoloursc %}
        <option value={{itemss[0]}}>{{itemss[1]}}</option>
        {% endfor %}
      </select><br>

      <label for="img_file">Image </label>
      <input type="file" name="file" accept=".jpeg,.jpg" class="colour4 w3-input w3-border"/>

      <p><input button type="submit" value="Add Clothing" class="w3-ckp-button w3-round-xlarge colour4 w3-border"></p>
    </form>
  </div>

  <div class="w3-container"></div>

  <div class="w3-panel colour5 w3-round-xlarge w3-cell w3-card-4" style="width:70%;padding-top: 16px;padding-bottom: 16px;">
    <div class="w3-row-padding">
      {% for item in results %}
      <div class="w3-third">
        <div class="gallery-wrap w3-card-4 w3-round-xlarge colour4">
          <!--<div class="w3-right-align">
            <button class="myBtn three-dots" id="{{ item[0] }}">&#xFE19;</button>
          </div>-->
          <div class="myBtn" id="{{ item[0] }}">
            <img src="/static/images/{{item[5]}}" alt=lol class="w3-hover-opacity gallery-wrap w3-round-xlarge" onError="this.onerror=null;this.src='/static/images/noimage_lol.jpg';">
          </div>
        </div>
      </div>
      <div id="m{{ item[0] }}" class="modal">
        <div class="modal-content w3-row-padding">
          <div class="w3-third">
            <div class="gallery-wrap w3-card-4 w3-round-xlarge colour4">
              <img src="/static/images/{{item[5]}}" alt=lol class="gallery-wrap w3-round-xlarge" onError="this.onerror=null;this.src='/static/images/noimage_lol.jpg';">
              </div>
            </div>
          <div class="w3-twothird" style="padding-top: 8px;padding-bottom: 8px;">
            <span class="close">&times;</span>
            <h3>{{ item[1] }}</h3>
            <p>Brand: {{ item[2] }}<br>Type: {{ item[3] }}<br>Colour: {{ item[4] }}</p>
            <form method="POST" action="{{ url_for('deleteclothing', ID=item[0]) }}">
              <input type="submit" title="Delete" class="delete-button" value="Delete" onclick="return confirm('Are you sure you want to delete this Item?')"><!--&#10008;-->
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
      <br>
    </div>
  </div>
</div>
<br>
<script>
  // Get the modal
//var modal = document.getElementById("myModal");
var modal = null;

// Get the button that opens the modal
var btns = document.getElementsByClassName("myBtn");
var btnId = 0;

// Get the <span> element that closes the modal
var spans = document.getElementsByClassName("close");

// When the user clicks the button, open the modal 
//btn.onclick = function() {
//  modal.style.display = "block";
//}


for (let elem of btns) {
//btn.forEach(function(elem) {
    elem.addEventListener("click", function() {
      btnId = elem.getAttribute ('id');
      modal = document.getElementById("m" + btnId);      

      modal.style.display = "block";

    });
};

// When the user clicks on <span> (x), close the modal
  for (let span of spans) {
    span.addEventListener("click", function() {
      span.parentElement.parentElement.style.display = "none";
    });
};  


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
{% endblock %}