{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-col s4">
  <div class="w3-container colour5 w3-round-xlarge w3-card-4">
    <form class="w3-container" action="{{ url_for('add_colour') }}" method="POST">
      <h2 class="heading-padding">Add a Colour</h2>
      <label> Colour name</label>
      <input name="colour_name" type="text" maxlength="25" placeholder=" " class="w3-input" required>
      <p><input button type="submit" value="Add Colour" class="w3-ckp-input-button w3-round-xlarge"></p>
    </form>
  <div class="w3-container">
    <table class="w3-table colour4">
      <tr>
        <th>Colours</th>
        <th></th>
      </tr>
      {% for item in colours_results %}
      <tr>
        <td>{{ item[1] }}</td>                
        <td class="w3-right-align">
          <form method="POST" action="{{ url_for('delete_colour', ID=item[0]) }}">
            <input style="margin-right: 4px;" type="submit" title="Delete" class="input delete-button" value="Delete" onclick="return confirm('Are you sure you want to delete this Colour?')">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    </div>
  </div>
  <br>
  </div>
</div>
<br>
{% endblock %}
