{% extends "base.html" %}
{% block body %}
<div id="wrapper"> 
  
  <div id="header"> 
    
    <div class="top_banner">
      <title>Wardrobe Wizard &#128144;</title>
      <h1>Wardrobe Wizard &#128144;</h1>
      <p>Introducing Wardrobe Wizard, your ultimate online wardrobe solution!
        <br>
        <br>
Say goodbye to the hassle of rummaging through your closet every morning. With Wardrobe Wizard, organizing your wardrobe has never been easier.</p>
    </div>

  </div>
    
    <div class="right_side_bar"> 
      
      <div class="col_1">
        <h2>Main Menu</h2>
        <div class="box">
          <ul>
            <li><a href="#">View all Clothes</a></li>
            <li><a href="#">View all Brands</a></li>
            <li><a href="#">View all Garment Types</a></li>
            <li><a href="#">View all Colours</a></li>
            <li><a href="#">View all Outfits</a></li>
            <br>
            <li><a href="#">Add a Top</a></li>
            <li><a href="#">Add a Bottom</a></li>
            <li><a href="#">Add a Outerwear Item</a></li>
            <li><a href="#">Add a Brand</a></li>
            <li><a href="#">Add a Garment Type</a></li>
            <li><a href="#">Add a Colour</a></li>
            <li><a href="#">Add a Outfit</a></li>
            <br>
            <li><a href="#">Remove a Top</a></li>
            <li><a href="#">Remove a Bottom</a></li>
            <li><a href="#">Remove a Outerwear Item</a></li>
            <li><a href="#">Remove a Brand</a></li>
            <li><a href="#">Remove a Garment Type</a></li>
            <li><a href="#">Remove a Colour</a></li>
            <li><a href="#">Remove a Outfit</a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
    
    <div class="clear"></div>
    
    <!--start footer from here-->
    <div id="footer">Copyright &copy; 2024. Designed by Charlotte Panckhurst at Burnside High School</a><br>
    
    </div>
	
    <!--/. end footer from here-->
  </div>
  
</div>

{% endblock %}
