<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Wardrobe Wizard</title>
</head>
<body class="error-page">
    <div class="w3-cell-row">
    <div class="w3-container w3-light-grey w3-cell w3-card-4">
        <h1>Error</h1>
        <p>{{ error }}</p>
        <a href="/" class="w3-button w3-border w3-dark-grey">Back to Home<br></a>
        <h1>    </h1>
    </div>
</div>
</body>
</html>