{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <div class="w3-round-xlarge colour5 w3-cell w3-card-4" style="width:30%">
    <form class="w3-ckp-container" action="{{ url_for('addoutfit') }}" method="POST" enctype="multipart/form-data">
      <h2>Add Outfit</h2><br>
    
      <label> Outfit ID</label>
      <input name="outfit_id" type="number" maxlength="25" placeholder=" " class="w3-input" required><br>

      <label> Clothing Item </label>
      <select name="outfit_img_file" type="number" class="w3-input" required>
        <option value=""> </option>
        {% for item in resultsimg_fileo %}
        <option value={{item[0]}}>{{item[2]}}</option>
        {% endfor %}
      </select><br>


      <label>Style </label>
      <select name="outfit_style" type="number" class="w3-input" required>
        <option value=""> </option>
        {% for items in resultsstyleo %}
        <option value={{items[0]}}>{{items[1]}}</option>
        {% endfor %}
      </select>

      <p><input button type="submit" value="Add Outfit" class="w3-ckp-input-button w3-round-xlarge"></p>
    </form>
  </div>

<div class="w3-container"></div>

  <div class="w3-ckp-container w3-round-xlarge colour5 w3-cell w3-card-4" style="width:70%">
      <div class="padding" id="myBtnContainer">
        <button class="w3-ckp-filter-button active" onclick="filterSelection('all')"> Show all</button>
        {% for item in new_outfits_results %}
        <button style="margin-top: 4px; margin-bottom: 4px;" class="w3-ckp-filter-button" onclick="filterSelection('{{item[1]}}')">Outfit {{ item[1] }}</button>
        {% endfor %}
      </div>
      {% for item in outfits_results %}
      <div class="filterDiv {{item[1]}}">  
      <div class="w3-third">
        <div class="gallery-wrap w3-card-4 colour4 w3-round-xlarge">
          <img src="/static/images/{{ item[4] }}" alt=lol class="gallery-wrap w3-round-xlarge responsive" onError="this.onerror=null;this.src='/static/images/noimage_lol.jpg';">
          <div class="eight-sixteen-padding">
            <h3 class="heading-padding">Outfit {{ item[1] }}</h3>
            <p>Name: {{ item[2] }}<br>Style: {{ item[3] }}</p>
            <form style="padding-bottom: 8px; padding-top: 8px;" method="POST" action="{{ url_for('deleteoutfit', ID=item[0]) }}">
              <input type="submit" title="Delete" class="delete-button" value="Delete {{ item[2]}}" onclick="return confirm('Are you sure you want to delete this Item?')">
            </form>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
<br>
<script>
  // Source code: https://www.w3schools.com/howto/howto_js_filter_elements.asp
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
{% endblock %}
