{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-cell-row">
  <br>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:20%">
        <form class="w3-container" action="{{ url_for('outfits') }}" method="POST">
            <h2>Add an Outfit</h2>

            <label> Outfit name</label>
            <input name="outfit_name" type="text" maxlength="25" placeholder=" " class="w3-input w3-border"><br>
          
            <label>Top </label>
            <select name="top" type="number" class="w3-input w3-border">
              <option value=> </option>
              {% for item in resultstopsoutfits %}
              <option value={{item[0]}}>{{item[1]}}</option>
              {% endfor %}
            </select><br>
               
          
            <label>Bottom </label>
            <select name="bottoms" type="number" class="w3-input w3-border">
              <option value=> </option>
              {% for item in resultsbottomsoutfits %}
              <option value={{item[0]}}>{{item[1]}}</option>
              {% endfor %}
            </select><br>
          
            <label>Outerwear </label>
            <select name="outerwear" type="number" class="w3-input w3-border">
              <option value=> </option>
              {% for item in resultsouterwearoutfits %}
              <option value={{item[0]}}>{{item[1]}}</option>
              {% endfor %}
            </select><br>
            
            <label>Dress </label>
            <select name="dress" type="number" class="w3-input w3-border">
              <option value=> </option>
              {% for item in resultsdressesoutfits %}
              <option value={{item[0]}}>{{item[1]}}</option>
              {% endfor %}
            </select><br>
          
            <label>Style </label>
            <select name="style" type="number" class="w3-input w3-border">
              <option value=> </option>
              {% for item in resultsstylesoutfits %}
              <option value={{item[0]}}>{{item[1]}}</option>
              {% endfor %}
            </select>
          
            <p><input button type="submit" value="Add Outfit" class="w3-button w3-white w3-border"></p>
          </form>
    </div>
   <div class="w3-container">
    </div>
    <div class="w3-container w3-light-grey w3-cell w3-card-4" style="width:80%">
        <br>
<table class="w3-table-all">
    <tr>
        <th>Outfit Name</th>
        <th>Tops</th>
        <th>Bottoms</th>
        <th>Outerwear</th>
        <th>Dress</th>
        <th>Style</th>

    </tr>
    {% for item in results4 %}
    <tr>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>{{ item[4] }}</td>
        <td>{{ item[5] }}</td>
        <td>{{ item[6] }}</td>
    </tr>
    {% endfor %}
    </table>
        <br>
    </div>
  </div>
  <br>
{% endblock %}