{% extends "base.html" %}
{% block body %}
{% extends "base.html" %}
{% block body %}
<form action="{{ url_for('addtops') }}" method="POST">

  <label>Top </label>
  <select name="top_id" type="number">
    <option value=""> </option>
    <option value=2>Grey Glasson Cotton Scoop Neck Long Sleeve Top</option>
    <option value=3>Cotton On Sex Pistols The Oversized Band Tee</option>
    <option value=5>White Glassons Supersoft Long Line Tee</option>
    <option value=13>Shein White Lace Singlet</option>
  </select><br>
  <!-- <label>Brand </label> -->
  <!-- THIS WONT WORK I need a a way that will reset the options <br> -->
  
  <input type="submit" value="Add top"><br>
</form>
{% endblock %}s

<p>remove tops here</p>
<!-- should i use a Get/Post to get the info from user? -->
{% endblock %}