{%extends 'base.html'%}
{%block content%}
<br>
<div class="w3-container">
<div class="w3-panel w3-round-xlarge colour5 w3-cell w3-card-4">
<div class="w3-panel">
    <div>
    <h1 class="heading-padding">Sign Up</h1>
    <form action='/add_user'>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" maxlength="25" placeholder=" " class="w3-input w3-border" required><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" placeholder=" " class="w3-input w3-border" required><br>

        <label for="confirm">Confirm Password: </label>
        <input type="password" id="confirm" name="confirm" placeholder=" " class="w3-input w3-border" required><br>
        {% if error_message %}
        <div class="colour5"> {{ error_message }} </div><br>
        {% endif %}
        <input type = "submit" class="w3-ckp-input-button w3-round-xlarge w3-border">
    </form>
    <p>Already have an account? <a href = '/login'>Login here</a><p>
</div>
</div>
</div>
{%endblock%}