{% extends "base.html" %}
{% block body %}
<br>
<div class="w3-col s4">
    <div class="w3-container colour5 w3-round-xlarge w3-card-4">
      <form class="w3-container" action="{{ url_for('add_type') }}" method="POST">
        <h2 class="heading-padding">Add a Clothing Type</h2>
        <label> Type name</label>
        <input name="type_name" type="text" maxlength="25" placeholder=" " class="w3-input" required>
        <p><input button type="submit" value="Add Type" class="w3-ckp-input-button w3-round-xlarge"></p>
      </form>
      <div class="w3-container">
        <table class="w3-table colour4">
          <tr>
            <th>Clothing Types</th>
            <th></th>
          </tr>
          {% for item in types_results %}
          <tr>
            <td>{{ item[1] }}</td>                
            <td class="w3-right-align">
              <form method="POST" action="{{ url_for('delete_type', ID=item[0]) }}">
                <input style="margin-right: 4px;" type="submit" title="Delete" class="input delete-button" value="Delete" onclick="return confirm('Are you sure you want to delete this Clothing Type?')">
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
        <br>
      </div>
    </div>
  </div>
  {% endblock %}